@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');

/* Cores personalizadas */
:root {
    --white: #F8F7F3;
    --gray: #3B3B3B;
    --lightgray: #ECECE8;
    --vinered: #CD0232;
    --darkblue: #011246;
    --blue: #2552E6;
    --purple: #2A2B5B;
    --green: #019907;
    --lightgreen: #8CE619;
    --lightbrown: #FE9B67;
    --yellow: #FFBF2A;
}
  
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.bg-nav h1.type-animation1{
    animation: 
        typing-erasing 10s steps(34, end) infinite,
        cursor .5s step-end infinite alternate;
}

.bg-nav h1.type-animation2{
    animation: 
        typing-erasing 10s steps(33, end) infinite,
        cursor .5s step-end infinite alternate;
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing-erasing{
    0%{
        width: 0;
    }
    30%{
        width: 100%;
    }
    70%{
        width: 100%;
    }
    90%{
        width: 0.01%;
    }
    100%{
        width: 0.01%;
    }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}