@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');

/* Cores personalizadas */
:root {
    --white: #F8F7F3;
    --gray: #3B3B3B;
    --lightgray: #ECECE8;
    --vinered: #CD0232;
    --darkblue: #011246;
    --blue: #2552E6;
    --purple: #2A2B5B;
    --green: #019907;
    --lightgreen: #8CE619;
    --lightbrown: #FE9B67;
    --yellow: #FFBF2A;
}
  
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.bg-nav h1{
    /* border-right: 6px solid var(--yellow); */
    animation: 
        typing-erasing 10s steps(34, end) infinite,
        cursor .5s step-end infinite alternate;
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing-erasing{
    0%{
        width: 0;
    }
    30%{
        width: 100%;
    }
    70%{
        width: 100%;
    }
    90%{
        width: 0.01%;
    }
    100%{
        width: 0.01%;
    }
}